@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.img-logo {
    height: 50px;
}

.itens ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.itens a {
    text-decoration: none;
    color:rgb(224, 119, 14);
    font-size: 1.3rem;
}

.itens li {
    list-style: none;
}




#home {
    background-color: #d76d15;
    color: white;
    height: 150vh;
}

#home img {
    height: 1000px;
    float: left;
}



#cardapio {
    display: grid;
    background-color: #954400;
    color: white;
}

.pudim-tradicional {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    color:rgb(224, 119, 14);
    padding: 30px;
    width: 40%;
    border-radius: 20px;
}

.pudim-tradicional h3 {
    text-align: center;
}

.pudim-tradicional img {
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
}

.info-preco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.peso-p {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.preco-p {
    background-color: #d76d15;
    color: white;
    border-radius: 8px;
    padding: 7px;
    width: 60%;
    margin-bottom: 7px;
}

.serve-p {
    font-size: 0.8rem;
    margin-right: 10px;
    color: black;
}

/*RGB 224, 119, 14, 1*/