/*Estilização geral*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --orange-primary: rgb(223, 118, 14);
    --background-color: rgb(252, 243, 215);
    --box-shadow: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

/*Parte da barra de navegação*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color: white;
}

.nav-ul{
    display: flex; 
    flex-direction: row;
    list-style: none;
    gap: 50px;
}

.nav-li a {
    font-weight: 600;
    color: rgb(106, 106, 106);
}

.nav-img {
    height: 4rem;
}

/*Parte inicial - Home*/
.home-btn-menu a, .nav-pedido a {
    color: white;
}

#home {
    height: calc(100vh - 104px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: black;
}

.home-cta {
    width: 45%;
    margin-left: 15rem;
    
}

#home h1 {
    font-size: 4rem;
}

#home span {
    color: var(--orange-primary);
}

.home-botoes {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}


.home-img {
    height: 620px;
    rotate: 180deg;
    background-color: var(--orange-primary);
    border-radius: 0px 300px 30px 0px;
}

/*Parte do sobre*/

#about h2, #menu h2 {
    margin-top: 2rem;
    text-align: center;
    color: var(--orange-primary);
}

#about hr, #menu hr {
    margin-bottom: 2rem;
    padding: 1.2px;
    border: none;
    background-color: var(--orange-primary);
    width: 25%;
    margin-left: 37.5%;

}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-diferencial {
    width: 35%;
    padding: 20px;
}

.about-diferencial p{
    background-color: rgb(248, 153, 57);
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 1px 1px 20px 1px;
    text-align: justify;
}

.about-diferencial i {
    color: var(--orange-primary);
    font-size: 1rem;
}

.about-antecedencia h3, .about-diferencial h3, .about-antec-sub {
    text-align: center;
    margin-bottom: 1rem;
}

.about-antecedencia {
    width: 40%;
    padding: 20px;
}

.about-tempo p{
    background-color: rgb(219, 219, 219);
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 1px 1px 20px 1px;
    text-align: center;
}

.about-antecedencia span {
    color:var(--orange-primary);
}

/*Parte do cardápio com os cards*/
#menu {
    background-color: var(--background-color);
}

#menu h2 {
    padding-top: 2rem;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5rem;
}

.menu-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    max-width: 20%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 12px 4px var(--box-shadow);
}

.menu-card-img {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 200px;
    width: 150px;
    border-radius: 10px;
}

.menu-card-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu-card-info p {
    margin-top: 10px;
    text-align: center;
}

/*Parte de fazer o pedido*/
#pedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 104px);
}

#pedido h2 {
    font-size: 3rem;
    color: var(--orange-primary);
    margin-bottom: 2rem;
}

#pedido a {
    color: white;
}





.fa-brands {
    background-color: white;
    color: var(--orange-primary);
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px 2px var(--box-shadow);
    padding: 15px;
    border-radius: 8px;
}

.btn {
    background-color: var(--orange-primary);
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px var(--box-shadow);
    cursor: pointer;
}

